# Node modules
/node_modules/
/.bundler-cache/
/.pnpm-store/

# Expo
.expo/
.expo-shared/
.expo/*

# Android
/android/.gradle/
/android/app/build/
/android/build/
/android/local.properties
/android/*.iml

# iOS
/ios/Pods/
/ios/build/
/ios/DerivedData/
/ios/*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# macOS
.DS_Store

# IDE / Editor
.vscode/
.idea/
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
Thumbs.db

# Env files
.env*
*.env.local

# Misc
*.lock
*.keystore
*.jks

# Expo Go builds
*.tar.gz
*.apk
*.aab
*.ipa
